/*searchHead*/
.searchhead{
    position: absolute;
    height: 56px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.08);
}
.arrow1{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 20px;
    top: 20px;

}
.arrow2{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50px;
    top: 20px;

}
.stop{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 89px;
    top: 20px;
}
.searchbar{
    position: absolute;
    width: 80%;
    height: 40px;
    left: 150px;
    top: calc(50% - 40px/2);

    background: #F1F3F4;
    border-radius: 22px;
}
.secure{

    position: absolute;
    width: 4px;
    height: 3px;
    left: 19px;
    top: 12px;

}
.link{
    position: absolute;
    width: 159px;
    height: 17px;
    left: 40px;
    top: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;

    color: #3C4043;
}
.elipse{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 96%;
    top: 14px;
}
.more{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 98.1%;
    top: 16px;
}
/*searchHead*/

/*Head*/
.head{
    position: absolute;
    width: 99.5%;
    height: 56px;
    left: 0px;
    top: 65px;
    background: #FFFFFF;
}
.servise{
    position: absolute;
    width: 96px;
    height: 24px;
    left: 144px;
    top: 18px;
}
.servisetext{
    position: absolute;
    width: 64px;
    height: 24px;
    left: 30px;
    top: -3px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #2A2D43;
}
.search{
    position: absolute;
    width: 74px;
    height: 24px;
    left: 280px;
    top: 18px;
}
.searchtext{
    position: absolute;
    width: 64px;
    height: 24px;
    left: 30px;
    top: -3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #2A2D43;
}
.rightmenu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 152px;
    height: 40px;
    right: 16px;
    top: 18px;
}

/*Head*/
/*LeftMenu*/
.leftmenu{
    position: absolute;
    width: 56px;
    height: 608px;
    left: 0px;
    top: 13%;

    /* Xenia_shadow */

    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
}
.leftmenu0{
    position: absolute;
    width: 56px;
    height: 608px;
    left: 0px;
    top: 0px;

    /* 100 */

    background: #D0CBF0;
}
.leftbtn1{
    position: absolute;
    width: 56px;
    height: 80px;
    left: 0px;
    top: 0px;
}
.leftbtn1_0{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 4px;
    top: 20px;
}
.fourbtn{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;

}
.leftmenu1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 56px;
    height: 240px;
    left: 0px;
    top: 79px;
}
.leftbtn1{
    width: 55px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.home{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 15px;
}
.rentangle1{
    position: absolute;
    width: 55px;
    height: 54px;
    left: 0px;
    top: 0px;
}
.linebtn2{
    position: absolute;
    width: 56px;
    height: 54px;
    top:54px;

}
.line{
    position: absolute;
    width: 2px;
    height: 54px;
    left: 54px;
    top: 0px;

    /* 500 */

    background: #6153CC;
}
.union{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 15px;
}
.rentangle2{

    width: 56px;
    height: 54px;
    left: 0px;
    top: 0px;

    /* White */

    background: #FFFFFF;
    opacity: 0.2;
}
.linebtn3{
    position: absolute;
    width: 56px;
    height: 54px;
    top:108px;
}
.watch{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 15px;
}
.rentangle3{
    position: absolute;
    width: 55px;
    height: 54px;
    left: 0px;
    top: 0px;
}
/*LefMenu*/